body {
    background-image: url('images/floor-1256804.jpg');
}

.titre-homepage {
    background-color: rgba(255, 255, 255, 0.5); 
    margin-top: 2%;
}

#icone-site-titre {
    color: black;
    font-size: 3em;
}

h5 {
    color: white;
}

footer {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}