html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;  
  background: rgb(216, 215, 244);
  background: radial-gradient(
    circle,
    rgba(216, 215, 244, 1) 0%,
    rgba(211, 211, 226, 1) 35%,
    rgba(211, 224, 227, 1) 100%
  );
  background-size: cover;
  height: 100%;
  
}

.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}


.titre-homepage {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 2%;
}

header {
  height: 20%;
  margin: 0;
    font-size: 1.5rem;
    /* height: 30%; */
    
}

#icone-site-titre {
  color: black;
  font-size: 3em;
}

/* TYPOGRAPHIE */


.fw-600 {
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}


h4 {
    font-weight: 600;
}

h5 {
  color: white;
}

footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  /* grid-row-start: 2;
  grid-row-end: 3; */
  color: white;
  font-size: 1.5rem;
  /* position: absolute; */
  /* bottom: 0; */
  /* width: 100%; */
  /* flex-shrink: 0; */
  /* height: 12%; */
}

a {
  text-decoration: none;
  color: white;
}

/* .imageProduit{
	height: auto;
}  */

/* PALETTE COULEURS */

.my-primary-color {
  color: #264653;
  background-color: #264653;
}

.my-secondary-color {
  color: #2a9d8f;
  background-color: #2a9d8f;
}

.my-third-color {
  color: #e9c46a;
}

.button-info-orange-color {
    background-color: #f4a261;
}

.button-achat-color {
  color: #e76f51;
}

/* page produit */

.add_to_cart_block .price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 0;
}

.product_rassurance {
  padding: 10px;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #6c757d;
  color: #6c757d;
}
.product_rassurance .list-inline {
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}
.product_rassurance .list-inline li:hover {
  color: #343a40;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
